* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    width: 100%;
    height: 100vh;
    background-color: #a9a9a947;
}

/* navbar */
#navbar-color {
    background-color: white;
    box-shadow: 0px -11px 4px 10px black;
}

#logo {
    font-size: 25px;
    color: black;
    text-shadow: 1px 1px 1px black;
}

#logo img {
    margin-bottom: 10px;
}

#logo span {
    color: #0ea10e;
}

#navbar-nav { 
    margin-left: 100px;
}

.nav-link {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;  
    transition: 0.6s ease; 
}

.nav-link:hover {
    background-color: #0ea10e;
    color: white;
    border-radius: 5px;
}

#btn a {
    text-decoration: none;
}

#btn button {
    width: 130px;
    height: 45px;
    font-size: 16px;
    color: #0ea10e;
    border: 2px solid #0ea10e;
    background: transparent;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn button:hover {
    background-color: #0ea10e;
    color: white;
}

@media screen and (max-width:1000px) {
    .navbar-nav{
        margin-left: 10px;
    }
}

@media screen and (max-width:1338px) {
    #btn{
        margin-left: 50px;
    }

    #btn button {
       width: 110px;
       height: 25px;
       font-size: 15px;
    }

    .nav-link {
        font-size: 14px;
    }
}

/* navbar */

/* home section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.home .img {
    flex: 1 1 400px;
}

.home .img img {
     width: 90%;
}

.home .content {
    flex: 1 1 400px;
}

.content h3 {
    margin-left: 130px;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
}

.content p {
    margin-left: 130px;
}

.content .btn {
    margin-left: 130px;
    width: 110px;
    height: 40px;
    background-color: #0ea10e;
    border: 2px solid #0ea10e;
    color: white;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.content .btn:hover {
    background-color: #0ea10e;
    color: #0ea10e;
    background: transparent;
}

@media screen and (max-width:800px){
    .content h3 {
        margin-left: 50px;
        font-size: 40px;
    }

    .content p{
        margin-left: 50px;
    }

    .content .btn {
        margin-left: 50px;
    }
}

@media screen and (max-width:570px){
    .content h3 {
        margin-left: 20px;
    }

    .content p{
        margin-left: 20px;
    }

    .content .btn {
        margin-left: 20px;
    }
}
/* home section */

/* dishes section */
#dishes h1{
    margin-top: 65px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}

#dishes .card{
    border-radius: 0 0 3px black;
    cursor: pointer;
    transition: 0.5s ease;
}

#dishes .card:hover {
    transform: translateY(-10px);
}

.checked {
    color: rgba(255,230,0);
    font-size: 15px;
}

#dishes h6 {
    margin-top: 20px;
}

#dishes h6 span {
    float: right;
    cursor: pointer;
}
/* dishes section */

/* menu section */
#menu {
    background-color: #a9a9a947;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

#menu h1 {
    margin-top: 50px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e; 
}

#menu p img {
    border-radius: 50px;
    margin-left: 20px;
}

#menu p span {
    font-size: 20px;
    color: #0ea10e;
    margin-left: 15px;
}
/* menu section */

/* chef section */
#chefs .row {
    margin-top: 40px;
}

#chefs h1 {
    margin-top: 100px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}

#chefs h2 {
    color: #0ea10e;
    text-shadow: 1px 1px 1px black;
    margin-top: 20px;
}

#chefs .card {
    transition: 0.5s ease;
    cursor: pointer;
}

#chefs .card:hover {
    transform: translateY(-10px);
}
/* chef section */

/* gallery section */
#gallery .row {
    margin-top: 40px;
}

#gallery h1 {
    margin-top: 100px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}

#gallery .card {
    transition: 0.5s ease;
    cursor: pointer;
}

#gallery .card:hover {
    transform: translateY(-10px);
}
/* gallery section */

/* table section*/
#book-table h1{
    margin-top: 100px;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}

#book-table input {
    margin-bottom: 20px;
}

#btntable button {
    margin-top: 30px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    letter-spacing: 2px;
    border: 2px solid #0ea10e;
    transition: 0.5s ease;
    cursor: pointer;
}

#btntable button:hover {
    background-color: #0ea10e;
    color: white;
}

@media screen and (max-width:260px) {
    #btntable button {
        width: 120px;
        height: 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}
/* table section*/

/* about section*/
#about h1 {
    margin-top: 100px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}

#about .row {
    margin-top: 50px;
}

#about p {
    margin-top: 20px;
}

#btnrd {
    margin-top: 20px;
}

#btnrd button {
    width: 150px;
    height: 40px;
    background-color: #0ea10e;
    color: black;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    border: 2px solid #0ea10e;
    transition: 0.5s ease;
    border-radius: 10px;
    background: transparent;
}

#btnrd button:hover{
    background-color: #0ea10e;
    color: white;
}
/* about section*/


/* contact us */
#contact h1{
    margin-top: 100px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #0ea10e;
}
/* contact us */


/* footer section*/
#footer {
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: #111111;
    align-items: center;
    width: 1190px;
}

#footer .footer-top {
    padding: 60px 0 30px;
    background: #a9a9a947;
    color: #fff;
}

#footer .footer-top .footer-contact h3 {
    color: #0ea10e;
    text-shadow: 1px 1px 1px black;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    margin: 0; 
    line-height: 1;
    font-weight: 700;
    color: white;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links{
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding-right: 2px;
    color: #0ea10e;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding-right: 10px 0;
    display: flex;
    align-items: center;  
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul li a {
    color: white;
    transition: 0.3s ease;
    display: inline-block;
    line-height: 2;
}

#footer .footer-top .footer-links ul li a:hover{
    text-decoration: none;
    color: #0ea10e;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #373737;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    padding-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s ease;
}

#footer .footer-top .social-links a:hover {
    background: #0ea10e;
    color: #fff;
    text-decoration: none;
}

#footer .copyright{
    text-align: center;
    float: left;
}

#footer .credits{
    float: right;
    text-align: center;
}
/* footer section*/